/*google fonts */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300|Quicksand');
/* === CSS RESET === */
* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height:100%;
}

#s1 {
	background: url(../images/bg.jpg) no-repeat fixed center center;
	background-size: cover;
	width:100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#s1 hgroup{
	background: #fff;
	width: 25%;
	padding: 20px;
	
	
	/*position: absolute;
	bottom: 20px;
	right: 30px;
	height: auto;
	*/
}
#s1 h2 {
	display: flex;
	justify-content: center;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

#s1 h1{
	display: flex;
	justify-content: center;
	font-family: 'Quicksand', sans-serif;
	/*normal the font wight no fat no thin*/
	font-weight: normal;
	text-transform: capitalize;
	font-size: 30px;
	line-height:30 px;
}

#s2	{
	width: 100%;
	min-height:   30%;
	height: auto;
	background-color: antiquewhite;
	padding: 20px;
}

#s2 article{
column-count: 3	;
}
#s3{
	background: url(../images/bg.jpg) no-repeat fixed center center;
	background-size: cover;
	width:100%;
	height: 100%;
	
	position: relative;
	padding: 20px;

	
	
}
#s3 article{
	background: #fff;
	width: 25%;
	padding: 20px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	height: auto;
}

#s4{
	width: 100%;
	min-height: 30%;
	height: auto;
	background: gray;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	
}
figure{
	margin: 20px;
	background: #C1FEBE;
	height: auto;
	/*width: 25%	;*/
	flex-grow: 2;
}

.bigger{
	flex-grow: 3;
	
	
	
}