/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	margin: 0;
	font-family: 'Poiret One', cursive;
	font-size: 17px;
}
#video1 {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}
.content {
	z-index: 1;
	position: fixed;
	bottom: 0;
	background: rgba(69,119,160,0.49);
	/*opacity: 0.5;*/
	color: aliceblue;
	width: 100%;
	padding: 20px;
	transition: .3s;
}
.content:hover {
	background-color: rgba(17,9,200,0.53);
}
#bottom1 {
	width: 200px;
	font-size: 18px;
	padding: 10px;
	border: none;
	background-color: #fff;
	color: black;
	cursor: pointer;
	transition: 0.8s;
}
#bottom1:hover {
	background: rgba(0,0,0,1.00);
	color: aliceblue;
}
#s1{
	height: 100%;
	background-color: aliceblue;
}