/* CSS Document */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
}
ul li{
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	
	
	text-align: center;
	font-size: 75px;
	margin: 15px;
	width: 200px;
	height: 200px;
	background-color: aquamarine;	
}
ul{
	list-style: none;
}


