@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Oswald:200,300,400,500,600,700');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
	scroll-behavior: smooth;
	height: 100%;
}
body {
	background: #FFf;
}
/*#navBar ul{
	list-style: none;
	text-transform: capitalize;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;		
}
#navBar ul a {
	margin: 30px;
	text-decoration: none;
	position: relative;
}

#navBar ul a:hover {
	background: #40E0D0;
	transition: 0.5s ease-in;
	
}*/
#logo{
	color: white;
	padding-top: 20px;
	padding-left: 20px;
	text-transform: uppercase;
	font-family: 'racing sans one', cursive ;
	font-size: 50px;
	text-decoration: none;
}
nav{
	position: absolute;
	width: 100%;
	height: 80px;
	
}
#navBar ul {
	position: absolute;
	right: 0px;
	bottom: 0px;
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
}
#navBar li a {
	font-family: 'oswald', cursive ;
	font-weight: 300;
	font-size: 20px;
	padding: 20px;
	color:aliceblue;
	display: inline-block;
	position: relative;
	text-decoration: none;
	overflow: hidden;
	transition: all .40s ease-in-out;
	text-transform: capitalize;
}
#navBar li a:after {
	content: '';
	position: absolute;
	bottom: 15%;
	left: 50%;
	width: 0;
	transform: translateX(-50%);
	height: 3px;
	background: rgba(52,220,248,0.83);
	transition: .35s;
}
#navBar li a:hover {
	color: rgba(52,220,248,1);
}
#navBar ul li a:hover:after, #navBar ul li a:focus:after, #navBar ul li a:active:after {
	width: 60%;
}
#navBar #logo {
	left: 50%;
	right: 50%;
}

