@charset "utf-8";
/* CSS Document */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html, body {
	scroll-behavior: smooth;
	height: 100%;
}
#buttonDiv {
	margin: 20px;
}
#s1 {
	background-color: antiquewhite;
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
#s2 {
	background-color: tan;
	height: 100%;
	width: 27%;
	position: absolute;
	top: 0px;
	left: 0px;
	transform: translateX(-100%);
	transition: all 0.9s;
	box-shadow: 1px 1px 3px rgba(43,43,43,0.82);
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
#s3 {
	background-color: cornflowerblue;
	height: 100%;
	width: 27%;
	position: absolute;
	top: 0px;
	right: 0px;
	transform: translateX(100%);
	transition: all 0.9s;
	box-shadow: -1px 1px 3px rgba(43,43,43,0.82);
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
#s4 {
	height: 100%;
	background-color: salmon;
}
#s5 {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: slateblue;
	overflow: hidden;
}
#s6 {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	background-color: tan;
	height: 25%;
	width: 100%;
	position: absolute;
	bottom: -25%;
	right: 0px;
	transition: all 0.9s;
}
#s7 {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	background-color: cornflowerblue;
	height: 25%;
	width: 100%;
	position: absolute;
	bottom: -25%;
	right: 0px;
	transition: all 0.9s;
}
