@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Audiowide|Bad+Script|Fredoka+One|Lobster|Press+Start+2P|Racing+Sans+One|Dancing+Script|Oswald|Cookie');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
nav{
	z-index: 5;
}
html,body{
	scroll-behavior: smooth;
	height: 100%;
}
.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
.yes {
  background-color: #D95355 ;
  box-shadow: 0px 5px 0px 0px #BE2A2C;
}

.yes:hover {
  background-color: #DE6C6D;
}
.no {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

.no:hover {
  background-color: #6FC6FF;
}
.next {
  background-color: #3F3F3F ;
  box-shadow: 0px 5px 0px 0px #303030;
}

.next:hover {
  background-color: #505050;
}
.buttons{
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}
.question{
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
.holder{
	background: url(image/30637501437_9e48be052c_o.jpg)no-repeat fixed ;
	background-size: cover;
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.yesP{font-family: 'open sans', cursive ; 
	color: white;
	background-color: #D95355;
	height: 100%;
	width: 27%;
	position: absolute;
	top: 0px;
	left: 0px;
	transform: translateX(-100%);
	transition: all 0.9s;
	box-shadow: 1px 1px 3px rgba(43,43,43,0.82);
	padding: 25px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
.noP{font-family: 'open sans', cursive ; 
	color: white;
	padding: 20px;
	background-color: rgba(85,172,238,1.00);
	height: 100%;
	width: 27%;
	position: absolute;
	top: 0px;
	right: 0px;
	transform: translateX(100%);
	transition: all 0.9s;
	box-shadow: -1px 1px 3px rgba(43,43,43,0.82);
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
h1{	
	font-family: 'oswald', cursive;
	font-size: 30px;
	color: white;
}