@charset "UTF-8";
/* relative position example */
*{	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

section{
	
	
	width:200px;
	height:200px;
	background-color:gray;
	margin: 20px;
	/*display: inline-block; */

}

#s2{
	background-color: aqua;
	display: inline-block;
	position: absolute;
	left: 20px;
	
}

#s22{
	width: 100px;
	height: 100px;
	background-color: aquamarine;
	
}

#s4{
	padding: 10px;
	position: fixed;
	right: 0px;
	bottom: 0;
	background-color: antiquewhite;
	text-align: center;
	
}