@charset "UTF-8";
/* relative position example */
section{
	
	
	width:200px;
	height:200px;
	background-color:#FFCDCE;
	margin: 20px;
	/*display: inline-block; */

}

.rel{
	position: relative;
	left: 20px;
	height: 600px;
	background-color: aquamarine;
}

/* ids can only be used for one element */

#two{
	
	position: absolute;
	right: 30px;
	top: 40px;
}

#three{
	
	
	background-color: burlywood;
	
}